<!DOCTYPE html>
<html>
<head>
    <title>S3 Image Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <h1>S3 Image Viewer</h1>
    <div class="image-container"></div>
    <div id="loading-message"></div>
    <button id="load-more-button">Load More</button>
    <div id="modal">
        <img id="modal-image">
    </div>
</body>
</html>
